<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>In order to reset your password please click the following link.</p>
  <a href="{{link}}">Click here</a>
  <p>This is an automated message, please do not reply to this email. For any questions feel free to contact
    info@felea.org</p>
</body>

</html>